.grid{ 
    display: grid;
    grid-template-columns: 170px  170px  170px  170px 170px;
    margin-top: 15px;    

}

.letra {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}